.as{
    background-image: url('../../../Assets/image\ 92.png');
    background-size: cover;
 height: auto;
   }
   .test{
    background-image: url('../../../Assets/Group\ 982.png');
    background-size: cover;
   }
   .tests{
    background-image: url('../../../Assets/image\ 98.png');
    background-size: cover;
   }
 